* {
	margin: 0;
	padding: 0;
}

#listContainer {
	width: 300px;
	margin-top: 15px;
	list-style-type: none;
	border: 1px solid #888;
}

#usersList a {
	text-decoration: none;
	color: #555;
}

#usersList li {
	display: block;
	padding: 5px 0 5px 0;
}

#usersList > li:nth-child(1) {
	padding: 0;
	border: none;
}

#usersList li.bg-success:hover {
	background-color: #9da;
}

#usersList li.bg-danger:hover {
	background-color: #d9a;
}

.btn-group {
	width: 85%;
}

.btn-group .btn {
	width: 33.6%;
}

#searchDiv {
	display: block;
	padding: 5px 0 5px 0;
	position: relative;
	border-bottom: 1px solid #888;
}

#searchDiv input {
	width: 85%;
	margin: 0 auto;
	position: relative;
	line-height: 20px;
	border-radius: 20px;
	padding-left: 35px;
}

#searchDiv span {
	position: absolute;
	display: block;
	margin: 13px 0 0 31px;
	color: #888;
}

.logo {
	width: 45px;
	border-radius: 100%;
	margin: 0 15px;
}
